body{
    background-color: #1D1406;
    font-family: 'Poppins';
    a{
        text-decoration: none;
        font-size: 20px;
        line-height: 32px;
        color: rgb(99, 92, 82);
    }
    .heading{
        color: white;
    }
}